# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Makefiles
makefile 
makefile.*

# Vscode
.vscode/

# Some more stuff
_cc_flags
_cpp_flags
_linker_flags
bmptk_fixed_size_stack.c
*.bin
*.elf
*.ld
*.map